<li>
    <p>

        <!-- //he must be a user and his id must match with the current id -->
        
        <% if(locals.user && locals.user.id == comment.user.id){ %>  
                <small>
                <a href="/comments/destroy/<%= comment.id %>">X</a> 
               </small>
        <% } %>

        <h2>
        <%= comment.content %>
        </h2>
        <br>
        <small>
           <%= comment.user.name %>
        </small>
        </p>
</li>
   