
        <h1>Codeial/Router</h1>

     <section id="feed-posts">
             <h3>Posts</h3>

             <!-- only user can post -->
             <% if(locals.user){ %>
             <form action="/posts/create" id="next-post-form" method="post">
                     <textarea name="content"  cols="30" rows="5" placeholder="Type in here.." required></textarea>
                     <input type="submit" value="Post">
             </form>
             <% } %>

             <div id="posts-lists-container">
                     <ul>
                         <% for(post of posts){ %>
                          
                                <%- include('_post') -%>

                        <% } %>
                     </ul>

             </div>
     </section>