#heading{
      background-color: blueviolet;
      font-family: 'Abril Fatface', cursive;
      font-weight: 300;
     color:rgb(198, 202, 177);
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;

     h2{
         text-align: center;
     }
}

